/*-- scss:defaults --*/

// Fonts

$font-family-sans-serif: Montserrat;

// Colors

$bcubed-light: #EFF8F5;
$bcubed-dark: #002121;
$bcubed-green1: #48A529;
$bcubed-green2: #6CDDB4;
$bcubed-green3: #005957;
$white: #ffffff;
$black: #000000;

$bcubedqmd-slide-bg: $white;
$bcubedqmd-slide-color: $black;
$bcubedqmd-level1-bg: $white;
$bcubedqmd-level1-color: $bcubed-green3;
$bcubedqmd-level2-color: $bcubed-green1;
$bcubedqmd-link-color: $bcubed-green2;

$body-bg: $bcubedqmd-slide-bg;
$body-color: $bcubedqmd-slide-color;
$link-color: $bcubedqmd-link-color;

/*-- scss:rules --*/

.trapezium {
  z-index: -100;
  position: absolute;
  left: 0%;
  top: 0%;
  clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 0% 100%);
  width: 100%;
  height: 700px;
  background: $bcubed-light;
}

.reveal h1 {
  color: $bcubedqmd-level1-color;
  margin: 30% 10% 0% 10%;
}

.subtitle {
  color: $bcubedqmd-level1-color;
  font-size: 1.5em;
  font-weight: bold;
}

.date {
  color: $bcubedqmd-level1-color;
  font-size: 1em;
}

.reveal h2 {
  color: $bcubedqmd-level2-color;
}

.reveal h1.title {
  margin: 0% 0% 0% 0%;
  font-size: 2em;
}

.reveal .email {
  color: $bcubedqmd-level1-color;
}

#title-slide {
  text-align: left;
}

.reveal[data-navigation-mode="linear"] .title-slide h1 {
  font-size: 2em;
}

.title-vlaanderen {
  position: fixed;
  right: 0;
  top: -189px;
  width: 250px;
}

.title-inbo {
  position: fixed;
  right: 0;
  top: -70px;
  width: 230px;
  border: 10px;
  border-color: $white;
  border-style: solid;
  padding: 0;
}

.title-eu-funded {
  position: fixed;
  left: 0;
  top: -100px;
  width: 250px;
}

.vl-tussen {
  position: absolute;
  left: 15px;
  top: 5px;
  width: 200px;
}

.inbo-tussen {
  position: absolute;
  left: 15px;
  top: 100px;
  width: 200px;
}

.vl-slide {
  position: absolute;
  left: 0%;
  bottom: -5%;
  width: 200px;
  z-index: -1;
}

.sidebar {
  background-color: $bcubedqmd-level1-color;
  position: fixed;
  left: -70px;
  bottom: -39px;
  width: 50px;
  height: 778px;
}

.sidebar-tussen {
  background-color: $bcubedqmd-level1-color;
  width: 51px;
}

.sidebar-url {
  color: $bcubedqmd-level1-bg;
  transform: rotate(-90deg);
  font-size: 0.5em;
  position: fixed;
  left: -150px;
  bottom: 15%;
}

.sidebar-url-tussen {
  color: $bcubedqmd-level1-bg;
  transform: rotate(-90deg);
  font-size: 0.5em;
  position: fixed;
  left: -150px;
  bottom: 15%;
}

.fontsize-0-5 {
  font-size: 0.5em;
}

.fontsize-0-6 {
  font-size: 0.6em;
}

.fontsize-0-7 {
  font-size: 0.7em;
}

.fontsize-0-8 {
  font-size: 0.8em;
}

.fontsize-0-9 {
  font-size: 0.9em;
}

.reveal code {
  color: $bcubedqmd-slide-color;
}
